<div class="col-lg-6">
<div class="panel panel-info">
  <div class="panel-heading">Editing Profile</div>
  <div class="panel-body">

<%= render 'form', profile: @profile %>
</div>
</div>
<%= link_to 'Show', @profile, class: "btn btn-success btn-block" %>
<%= link_to 'Back', profiles_path, class: "btn btn-warning btn-block" %>
</div>
