<div class="col-lg-6">
<div class="panel panel-info">
  <div class="panel-heading">New Profile</div>
<div class="panel-body">
<%= render 'form', profile: @profile, class: "btn btn-success" %>

<%= link_to 'Back', profiles_path, class: "btn btn-success" %>
</div>
</div>
</div>
